@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --brand: #6EA4D7;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

* {
  border-color: rgba(0,0,0,0.08);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}